@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Muli' , sans-serif;
    display: flex;
    align-items: center;  /* aliniem item ele */
    justify-content: center;  /* item ele sunt centrate pe main axis */
    height:100vh;
    background-color: black;
    overflow: hidden;  /* bara aia din stanga */
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
 }

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #000000;
    cursor: pointer; /* la hover apare un cursor cu manuta */
    flex: 0.5;      /*un fel de width */
    margin: 10px;
    position: relative;
    transition: flex 0.5s ease-in;  /* tranzitia este aplicata pe flex si va dura 0.7 s  */
}
.panel h3 {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow */
    margin-bottom: 20px; 
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    opacity: 0;  /* o sa apara doar la hover pe img */
}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.4s ease-in;
}
@media (max-width:480px){   /* in cazul in care rezolutia e mai mica de 480px dispar ultimele 2 panel uri */
    .container {
        width: 100vw;
    }
    .panel:nth-of-type(4) , .panel:nth-of-type(5) {  
     display: none;
    } 
} 